.main_menu {
  width: 1rem;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 2rem;
  border: none;
  transition: all 500ms ease-in-out;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* search bar */
.searchInputWrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.searchInput {
  width: 1rem; 
  height: 2rem;
  padding: 0 1rem; 
  border-radius: 2rem;
  border: none;
  transition: all 500ms ease-in-out;
}

::placeholder {
  color: #a1a1a1;
}

/* hide the placeholder text on focus */
:focus::placeholder {
  text-indent: -999px
}

.searchInput.unfocus {
  outline: none;
  transform: scale(1.1);
  transition: all 500ms ease-in-out;
  width: 190px;
}

.searchInput.unfocus + .searchInputIcon {
  position: absolute;
  left: unset;
  right: 0.011111em;
  top: 50%;
  color: #a1a1a1;
  transition: all 500ms ease-in-out;
}

.searchInputIcon {
  transition: all 500ms ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.container.unfocus-within > 
.searchInputWrapper > .searchInputIcon {
  right: 0.2rem;
}
/* ********* */
/* Upload */
.file {
  position: relative;
  /*   display: flex;
justify-content: center;
align-items: center; */
}

.file>input[type='file'] {
  display: none
}

.file>label {
  font-weight: 1000;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 29%);
  padding: 0.5em;
  transition: all 500ms;
}

.file>label:hover {
  border-color: hsl(0, 0%, 21%);
}

.file>label:active {
  background-color: hsl(0, 0%, 96%);
}

.file>label>i {
  padding-right: 5px;
}

.file--upload>label {
  color: hsl(204, 86%, 53%);
  border-color: hsl(204, 86%, 53%);
}

.file--upload>label:hover {
  border-color: hsl(204, 86%, 53%);
  background-color: hsl(204, 86%, 96%);
}

.file--upload>label:active {
  background-color: hsl(204, 86%, 91%);
}

@keyframes pulse {
  0% {
    color: hsl(48, 100%, 67%);
  }

  50% {
    color: hsl(48, 100%, 38%);
  }

  100% {
    color: hsl(48, 100%, 67%);
  }
}

.upload__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload__btn {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  text-align: center;
  min-width: 116px;
  padding: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid;
  background-color: #4045ba;
  border-color: #4045ba;
  border-radius: 10px;
  line-height: 26px;
  font-size: 14px;
}

.upload__btn:hover {
  background-color: unset;
  color: #4045ba;
  transition: all 0.3s ease;
}

.upload__btn-box {
  margin-bottom: 10px;
}

.upload__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.upload__img-box {
  width: 180px;
  padding: 0 10px;
  margin-bottom: 12px;
}

@media screen and (max-width: 410px) {
  .upload__img-box {
    width: 50%;
  }
}

.upload__img-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
  color: white;
}

.upload__img-close:after {
  content: '\2716';
  font-size: 14px;
}

.upload__img-download {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
  color: white;
}

.upload__img-download:before {
  content: '\f019';
  font-size: 14px;
  font-family: 'Font Awesome 6 free';
}

.upload__img-download:hover {
  color: inherit;
}

.upload__img-fancybox {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 40px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
}

.upload__img-fancybox:after {
  font-family: FontAwesome;
  content: "\f06e";
  font-size: 14px;
  color: white;
}

.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 100%;
}

.capture_upload_preview,
.capture_upload_preview_exist,
.capture_upload_preview_exist_view {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0px;
  justify-content: center;
  align-items: center;
}

/* *********** */
/* Number Input */
.numberstyle-qty {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 1;
  border-radius: 6px;
  background-color: #FFFFFF;
  overflow: hidden;
  /* box-shadow: 0 3px 6px rgba(116, 116, 116); */
  width: max-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
}
.numberstyle-qty input,
.numberstyle-qty .qty-btn {
  position: relative;
  display: block;
  float: left;
  height: 25px;
  padding: 0;
  margin: 0;
  border: 0px;
  text-align: center;
  line-height: 25px;
  outline: 0;
  box-shadow: 0px;
}

.qty-btn-confirm {
  position: relative;
  display: block;
  float: left;
  height: 25px;
  padding: 0;
  margin: 0;
  border: 0px;
  text-align: center;
  line-height: 25px;
  outline: 0;
  box-shadow: 0px;
  width: 40px;
  font-size: 18px;
  cursor: pointer;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 250ms ease;
}

.numberstyle-qty .qty-btn {
  width: 40px;
  font-size: 18px;
  cursor: pointer;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 250ms ease;
}

.numberstyle-qty .qty-btn.disabled {
  cursor: not-allowed;
  color: rgba(116, 116, 116, 0.5);
}

.numberstyle-qty input {
  width: 50px;
  border-left: 0;
  border-right: 0;
  color: #747474;
  font-size: 18px;
  font-weight: 700;
  z-index: 1;
}

.numberstyle-qty input:focus {
  outline: 0;
  box-shadow: 0px;
}

.numberstyle-qty input[type=number]::-webkit-inner-spin-button,
.numberstyle-qty input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberstyle-qty input[type=number] {
  -moz-appearance: textfield;
}

/* ************ */
/* DropDown List */
.select-dropdown {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding-bottom: 20px;
}

.select-dropdown__button {
  padding: 0.5em;
  background-color: #fff;
  color: #616161;
  border: 1px solid hsl(204, 86%, 53%);
  border-radius: 4px;
  cursor: pointer;
  width: 210px;
  text-align: left;
  margin-block: 5px;
}

.select-dropdown__button::focus {
  outline: none;
}

.select-dropdown__button i {
  position: absolute;
  right: 10px;
  transform: translate(-60%, 10%);
}

.select-dropdown__list {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  transform-origin: top left;
  transform: scale(1, 0);
  transition: all ease-in-out 0.3s;
  z-index: 2;
}

.select-dropdown__list.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1, 1);
}

.select-dropdown__list-item {
  display: block;
  list-style-type: none;
  padding: 10px 15px;
  background: hsl(204deg 86% 53% / 81%);
  border-top: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  color: var(--bs-gray-300);
  transition: all ease-in-out 0.3s;
}

/*-------------------- ToDo List -------------------*/
.todoList {
  width: 90%;
  height: 700px;
  background: #fff;
  margin: auto;
  /* margin-top: 160px; */
  border-radius: 10px;
  position: relative;
}

.add_checklist_switch {
  width: 50%;
}

@media screen and (max-width: 410px) {
  .todoList {
    width: 98%;
  }

  .add_checklist_switch {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .add_checklist_switch {
    width: 100%;
  }
}

hr.todos_hr {
  background-image: linear-gradient(90deg, black, transparent, black);
  margin: 0;
}

.todo_content {
  overflow: scroll;
  height: 500px;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

/** Header Image **/
.cover-img .cover-inner {
  background: url("https://www.visittheusa.com/sites/default/files/styles/16_9_1280x720/public/2016-10/Getty_591648687_Brand_City_SanFrancisco_Hero_FinalCrop.jpg?itok=NqcWiJZn");
  height: 190px;
  background-size: 100%;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.cover-img .cover-inner::after {
  background: rgba(0, 0, 0, 0.3);
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.add_button {
  cursor: pointer;
}

.stickly {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.cover-img .cover-inner h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  z-index: 1;
  color: white;
  font-weight: 700;
  width: 100%;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
  width: 100%;
  white-space: normal;
  -o-text-overflow: ellipsis;
}

@media screen and (max-width: 660px) {
  .cover-img .cover-inner h3 {
    font-size: 1.7rem;
  }
}

.cover-img .cover-inner h6 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  /* font-size: 2.8rem; */
  z-index: 1;
  color: white;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

/* Main Content */
.content {
  padding: 5px 5px;
}

.content form {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 15px; */
  padding: 0 10px 0 5px;
  border-bottom: 1px solid #8e979c;
  position: relative;
}

.content form>* {
  background: transparent;
  border: none;
  /* height: 35px; */
}

.content input[type=text] {
  font-weight: 700;
  font-size: 1.2rem;
  color: #6C717B;
  width: 100%;
}

.content .input-buttons a {
  text-decoration: none;
}

.insert_data_btn {
  margin-top: 5px;
  font-size: 20px;
  color: #8e979c;
}

.content ul.todos {
  margin-left: 0;
  padding: 0;
  list-style: none;
  /* height: 220px; */
  overflow: visible;
  margin-bottom: .2rem;
}

/* .list_number::before {
    border: 2px solid #e74c3c;
    border-radius: 50%;
    color: #e74c3c;
    content: counter(ordered);
    counter-increment: ordered;
    display: inline-block;
    font-weight: 100;
    margin-left: -50px;
    margin-top: -7px;
    padding: 5px 12px;
    position: absolute;
} */

.content li {
  user-select: none;
  margin-bottom: -5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.content li i {
  color: var(--bs-dark);
  font-size: 15px;
  cursor: pointer;
  padding: 5px 5px;
}

.content input[type=checkbox] {
  display: none;
}

.content input[type=checkbox]+label {
  color: var(--bs-dark);
  font-size: 15px;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  display: inline-block;
  padding: 5px 5px 5px 30px;
  width: 100%;
  transition: all 500ms;
  overflow: hidden;
  margin: 0px;
}

.content input[type=checkbox]+label:hover {
  color: #353A42;
  background-color: #F4F7FA;
}

.content input[type=checkbox]+label span.check {
  left: 4px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  display: block;
  background: white;
  border-radius: 50%;
  border: 1px solid #b8bfcc;
  box-shadow: 0 2px 3px #F0F4F8;
}

.content input[type=checkbox]:checked+label {
  color: #AEB7C6;
  text-decoration: line-through;
}

.content input[type=checkbox]:checked+label span.check {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.content input[type=checkbox]+label span.check::after {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  background-image: url("https://tjgillweb.github.io/Vacation-Todo-App/images/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  transform: scale(0);
  transition: transform 300ms cubic-bezier(0.3, 0, 0, 1.5);
}

.content input[type=checkbox]:checked+label span.check::after {
  transform: scale(1);
}

.content input[type=checkbox]+label span.check::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #8798AA;
  opacity: 0.8;
  transform: scale(0);
}

.content input[type=checkbox]:checked+label span.check::before {
  opacity: 0;
  transform: scale(1.3);
  transition: opacity 300ms cubic-bezier(0.2, 0, 0, 1), transform 400ms cubic-bezier(0.3, 0, 0, 1.4);
}



.title {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.option_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.option_container .option_item {
  display: block;
  position: relative;
  width: 175px;
  height: 175px;
  margin: 10px;
}

@media screen and (max-width: 439px) {
  .option_container .option_item {
      display: block;
      position: relative;
      width: 150px;
      height: 150px;
      margin: 10px;
  }
}

.option_container .option_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.option_item .option_inner {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  /* padding: 28px 40px; */
  cursor: pointer;
  color: #585c68;
  display: block;
  position: relative;
  border: 5px solid var(--bs-border-color-translucent);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 1000;
  font-size: large;
  text-shadow: 0 0 .5px BLACK;
}

.option_item .option_inner .option_icon {
  margin-bottom: 10px;
}

.option_item .option_inner .option_icon .fab {
  font-size: xxx-large;
}

.option_item .option_inner .name {
  user-select: none;
}

.option_item .checkbox:checked~.option_inner.facebook {
  border-color: #3b5999;
  color: #3b5999;
}

.option_item .checkbox:checked~.option_inner.twitter {
  border-color: #55acee;
  color: #55acee;
}

.option_item .option_inner .tickmark {
  position: absolute;
  top: 0;
  left: 0;
  border: 20px solid;
  border-color: #000 transparent transparent #000;
  display: none;
}

.option_item .option_inner .tickmark:before {
  content: "✔";
  position: absolute;
  top: -25px;
  left: -20px;
  width: 30px;
  color: #fff;
  height: 15px;
  font-size: 21px;
  transform: rotate(9deg);
}

.option_item .checkbox:checked~.option_inner .tickmark {
  display: block;
}

.option_item .option_inner.facebook .tickmark {
  border-color: #3b5999 transparent transparent #3b5999;
}

.option_item .option_inner.twitter .tickmark {
  border-color: #55acee transparent transparent #55acee;
}

.back_button {
  position: absolute;
  text-indent: -15px;
  padding: 5px 0 5px 10px;
  width: 53px;
  /* modified by label length */
  overflow: auto;
}

.back_label {
  display: block;
  width: auto;
  line-height: 26px;
  font-size: 12px;
  font-weight: 900;
  font-family: helvetica, sans-serif;
  color: #fff;
  text-decoration: none;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #efefef;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTFkZmUyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(60%, #efefef), color-stop(100%, #e1dfe2));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #efefef 60%, #e1dfe2 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #efefef 60%, #e1dfe2 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #efefef 60%, #e1dfe2 100%);
  -moz-box-shadow: 0 1px 3px #cfcfcf;
  -webkit-box-shadow: 0 1px 3px #cfcfcf;
  box-shadow: 0 1px 3px #cfcfcf;
  border: 1px solid #bcbcbc;
  border-left: 0;
  color: #888;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  -moz-transition: color 0.1s 0;
  -o-transition: color 0.1s 0;
  -webkit-transition: color 0.1s 0;
  transition: color 0.1s 0;
}

.back_label:before {
  float: left;
  margin-top: 1px;
  margin-left: -4px;
  display: block;
  height: 12px;
  width: 15px;
  content: ' ';
  -moz-transform: skew(-35deg, 0);
  -ms-transform: skew(-35deg, 0);
  -webkit-transform: skew(-35deg, 0);
  transform: skew(-35deg, 0);
  background-color: #efefef;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjBmMGYwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(1%, #ffffff), color-stop(100%, #f0f0f0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 1%, #f0f0f0 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 1%, #f0f0f0 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 1%, #f0f0f0 100%);
  border-left: 1px solid #aaa;
}

.back_label:after {
  position: relative;
  margin-top: -13px;
  margin-bottom: 1px;
  margin-left: -4px;
  margin-right: auto;
  display: block;
  height: 12px;
  width: 15px;
  content: ' ';
  -moz-transform: skew(35deg, 0);
  -ms-transform: skew(35deg, 0);
  -webkit-transform: skew(35deg, 0);
  transform: skew(35deg, 0);
  background-color: #efefef;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIvPjxzdG9wIG9mZnNldD0iMTAlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTFkZmUyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(10%, #efefef), color-stop(100%, #e1dfe2));
  background-image: -moz-linear-gradient(top, #f0f0f0 0%, #efefef 10%, #e1dfe2 100%);
  background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #efefef 10%, #e1dfe2 100%);
  background-image: linear-gradient(to bottom, #f0f0f0 0%, #efefef 10%, #e1dfe2 100%);
  border-left: 1px solid #aaa;
  -moz-box-shadow: -2px 1px 2px rgba(100, 100, 100, 0.1);
  -webkit-box-shadow: -2px 1px 2px rgba(100, 100, 100, 0.1);
  box-shadow: -2px 1px 2px rgba(100, 100, 100, 0.1);
}

.back_label:hover {
  color: #0066cc;
}

.back_label:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTFkZmUyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(60%, #efefef), color-stop(100%, #e1dfe2));
  background-image: -moz-linear-gradient(top, #e6e6e6 0%, #efefef 60%, #e1dfe2 100%);
  background-image: -webkit-linear-gradient(top, #e6e6e6 0%, #efefef 60%, #e1dfe2 100%);
  background-image: linear-gradient(to bottom, #e6e6e6 0%, #efefef 60%, #e1dfe2 100%);
  -moz-box-shadow: 0 0 1px #cfcfcf, inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 1px #cfcfcf, inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 1px #cfcfcf, inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.7);
}

.back_label:active:before {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZTZlNmU2Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjBmMGYwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(230, 230, 230, 0)), color-stop(1%, #e6e6e6), color-stop(100%, #f0f0f0));
  background-image: -moz-linear-gradient(top, rgba(230, 230, 230, 0) 0%, #e6e6e6 1%, #f0f0f0 100%);
  background-image: -webkit-linear-gradient(top, rgba(230, 230, 230, 0) 0%, #e6e6e6 1%, #f0f0f0 100%);
  background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0) 0%, #e6e6e6 1%, #f0f0f0 100%);
}

.back_label:active:after {
  -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.7);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.7);
}