@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.toggle_psw{
  position: absolute;
  color: #a3a3a3;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor:pointer;
}

/* tooltip */
.help-tip {
  position: absolute;
  top: 16px;
  right: 23px;
  text-align: center;
  background-color: transparent;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 26px;
  cursor: default;
  font-size: 20px;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.help-tip:hover {
  cursor: pointer;
  /* background-color: #ccc; */
}

.help-tip:before {
  content: '?';
  font-weight: 700;
}

.help-tip p {
  visibility: hidden;
  opacity: 0;
  text-align: left;
  background-color: #ed5f5ec7;
  padding: 10px;
  width: 30vw;
  /* min-width: 100px; */
  /* max-width: 300px; */
  position: absolute;
  border-radius: 4px;
  right: -4px;
  color: #fff;
  font-weight: 1000;
  font-size: 13px;
  line-height: normal;
  transform: scale(0.7);
  z-index: 9999;
  transform-origin: 100% 0%;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  text-shadow: 0 0.5px black;
}

.help-tip:hover p {
  cursor: default;
  visibility: visible;
  opacity: 1;
  transform: scale(1.0);
}

.help-tip p:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #ed5f5ec7;
  right: 10px;
  top: -12px;
}

.help-tip p:after {
  width: 100%;
  height: 40px;
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
}

.help-tip a {
  color: #fff;
  font-weight: 700;
}

.help-tip a:hover,
.help-tip a:focus {
  color: #fff;
  text-decoration: underline;
}
/* Style inputs */
form#login{
  width: 100%;
}
div#second-signin {
  display: none;
}

div#message {
  display: none;
}

input[type=file] {
  display: block;
  margin: auto;
}

input[type=text], select, textarea, input [type=email], input[type="number"], input[type="date"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline: none;
  font-size: 16px;
  color: black;
}

input[type="color"] {
  /*width: 20%;*/
  margin: auto;
  display: block;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline: none;
  font-size: 16px;
}

input [type="number"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline: none;
  font-size: 16px;
}

input#UID, input#Email {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline: none;
  font-size: 16px;
}

p#my-form-status {
  font-weight: bolder;
  text-align: center;
  text-decoration: underline;
}

form {
  vertical-align: middle;
}

button {
  border: none;
}

input[type=submit] {
  background-color: var(--blue);
  color: white;
  font-weight: 1000;
  padding: 12px 20px;
  border: none;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9729/Untitled.png), auto;
  transition: all 500ms;
}

input[type=submit]:hover {
  background-color: #00bbff;
}

input.cancel {
  background-color: var(--danger);
  color: white;
  font-weight: 1000;
  padding: 12px 20px;
  border: none;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9729/Untitled.png), auto;
  transition: all 500ms;
  border-radius: 5px;
  margin-top: 20px;
}

input.cancel:hover {
  background: #c97373;
}

/* Style the container/contact section */

.contactcontainer {
  border-radius: 5px;
  /*background-color: #f2f2f2;*/
  padding: 10px;
}

/* Create two columns that float next to eachother */

.contactcolumn {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */

.contactrow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .contactcolumn, input[type=submit] {
    width: 100%;
    /* margin-top: 0; */
  }
}

/* The message box is shown when the user clicks on the password field */
/* #message {
  display: none;
  background: transparent;
  color: #000;
  position: relative;
  margin-top: 10px;
  transition: all 500ms;
  text-align: left;
  line-height: 50px;
} */
#message {
  color: #fff;
  position: absolute;
  transition: all 500ms;
  text-align: left;
  line-height: 50px;
  z-index: 1;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  margin-top: 30px;
  background: #a3a3a3;
  box-shadow: 0 15px 25px rgb(0 0 0 / 15%);
}

#message .messagetext {
  padding: 0px 35px;
  font-size: 12px;
  font-weight: 1000;
  margin-bottom: -4px;
  margin-top: -4px;
  line-height: 1.5;
}

#message .messagetexttopic {
  padding: 0px;
  margin-bottom: -7px;
  margin-top: -7px;
  font-size: 16px;
  font-weight: 1000;
  text-align: center;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid b {
  text-shadow: 0.5px 1px green;
}

.valid:before {
  content: '\f058';
  /* display: inline-flex; */
  /* content: '\f192'; */
  font-family: fontAwesome;
  width: 20px;
  display: inline-flex;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: #fff;
}

.invalid b {
  text-shadow: 0.5px 0px black;
}

.invalid:before {
  /* position: relative;
  left: -35px;
  content: "✖"; */
  content: '\f057';
	font-family: fontAwesome;
	width: 20px;
	display: inline-flex;
}

/* Forget Password css */
.sign-in-up-form .tab-content>div:last-child {
  display: none;
}

.sign-in-up-form h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
  font-size: 28px;
}

.sign-in-up-form label {
  position: absolute;
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  font-weight: 300;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  backface-visibility: hidden;
  pointer-events: none;
}

.sign-in-up-form label .req {
  margin: 2px;
  color: #797247;
  font-weight: 700;
}

.sign-in-up-form label.active {
  left: 2px;
  font-size: 14px;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

.sign-in-up-form label.active .req {
  opacity: 0;
}

.sign-in-up-form label.highlight {
  color: #ffffff;
}

.sign-in-up-form input, .sign-in-up-form textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 2px solid #347a8e;
  color: #ffffff;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

.sign-in-up-form input:focus, .sign-in-up-form textarea:focus {
  outline: 0;
  border-color: #124351;
}

.sign-in-up-form textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row>div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row>div:last-child {
  margin: 0;
}

.sign-in-up-form .button {
  border: 0;
  outline: none;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 400;
  background: #206276;
  background: rgba(18, 67, 81, 1);
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.sign-in-up-form .button:hover, .sign-in-up-form .button:focus {
  background: #144958;
  background: rgba(18, 67, 81, 0.8);
}

.sign-in-up-form .button-block {
  display: block;
  width: 100%;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
.btn {
  font-family: "Muli", sans-serif;
  outline: none;
}

.btn-icon i {
  margin-right: 4px;
}

/* ==========================================================================
   Forms
   ========================================================================== */
.form-control {
  background-color: #fafafa;
  background-image: none;
  border: 2px solid #eeeeee;
  box-shadow: none;
  color: #202b33;
  display: block;
  font-size: 14px;
  height: 35px;
  line-height: 1.4;
  padding: 5px 10px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  resize: vertical;
}

.form-control:focus {
  background-color: #ffffff;
  border-color: #d3e6f3;
  box-shadow: none;
  outline: 0 none;
}

.form-control.smallText {
  font-size: 14px;
}

.form-control.hasError {
  border: 1px solid #e9573f !important;
}

.inline-form {
  display: inline-block;
}

label {
  display: inline-block;
  font-weight: 300;
  color: #202b33;
}

h4.modal-title {
  font-weight: 1000;
  font-size: 25px;
}


/* success css */
.wrapperAlert {
  overflow: hidden;
  border: thin solid #ddd;
  text-align: center;
}

.topHalf {
  width: 100%;
  color: white;
  overflow: hidden;
  min-height: 250px;
  position: relative;
  padding: 40px 0;
  background: rgb(0, 0, 0);
  background:-webkit-linear-gradient(45deg, #ed5f5e, #e9c6c6);
}

.topHalf p {
  margin-bottom: 30px;
}

svg {
  fill: white;
}

.topHalf h1 {
  font-size: 2.25rem;
  display: block;
  font-weight: 500;
  letter-spacing: 0.15rem;
  text-shadow: 0 2px rgba(128, 128, 128, 0.6);
}

/* Original Author of Bubbles Animation -- https://codepen.io/Lewitje/pen/BNNJjo */
.bg-bubbles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;            
  z-index: 1;
}

.bg-bubbles li{
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);/* fade(green, 75%);*/
  bottom: -160px;

  -webkit-animation: square 20s infinite;
  animation:         square 20s infinite;

  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1){
  left: 10%;
}		
.bg-bubbles li:nth-child(2){
  left: 20%;

  width: 80px;
  height: 80px;

  animation-delay: 2s;
  animation-duration: 17s;
}		
.bg-bubbles li:nth-child(3){
  left: 25%;
  animation-delay: 4s;
}		
.bg-bubbles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;

  animation-duration: 22s;

  background-color: rgba(white, 0.3); /* fade(white, 25%); */
}		
.bg-bubbles li:nth-child(5){
  left: 70%;
}		
.bg-bubbles li:nth-child(6){
  left: 80%;
  width: 120px;
  height: 120px;

  animation-delay: 3s;
  background-color: rgba(white, 0.2); /* fade(white, 20%); */
}		
.bg-bubbles li:nth-child(7){
  left: 32%;
  width: 160px;
  height: 160px;

  animation-delay: 7s;
}		
.bg-bubbles li:nth-child(8){
  left: 55%;
  width: 20px;
  height: 20px;

  animation-delay: 15s;
  animation-duration: 40s;
}		
.bg-bubbles li:nth-child(9){
  left: 25%;
  width: 10px;
  height: 10px;

  animation-delay: 2s;
  animation-duration: 40s;
  background-color: rgba(white, 0.3); /*fade(white, 30%);*/
}		
.bg-bubbles li:nth-child(10){
  left: 90%;
  width: 160px;
  height: 160px;

  animation-delay: 11s;
}

@-webkit-keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-500px) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-500px) rotate(600deg); }
}

.bottomHalf {
  align-items: center;
  padding: 35px;
}

.bottomHalf p {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 20px;
}

button {
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 18px;
  background-color: #ed5f5e;
  text-shadow: 0 1px rgb(128 128 128 / 75%);
  margin-bottom: 15px;
  transition: all 300ms;
}

/* button:hover {
  background-color: #e9bbbb;
} */

/* switch */
.switch-list {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.switch__input {
  display: none;
}
.switch__input:checked + .switch__icon {
  background-color: #ed5f5e;
}
.switch__input:checked + .switch__icon:before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.switch__input:checked + .switch__icon:after {
  transform: translate3d(20px, 2px, 0);
}
.switch__icon {
  position: relative;
  display: inline-block;
  max-width: 42px;
  min-width: 42px;
  min-height: 24px;
  max-height: 24px;
  background-color: #c5c5c5;
  border-radius: 22px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}
.switch__icon:before {
   content: '';
   position: absolute;
   left: 0;
   width: 38px;
   height: 20px;
   background-color: #c5c5c5;
   border-radius: 11px;
   transform: translate3d(2px, 2px, 0) scaleX(1);
   transition: all 0.25s linear;
}
.switch__icon:after {
  content: '';
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}
.switch__span {
   font-size: 12px;
   margin-left: 5px;
   font-weight: 400;
   color: #76757f;
   position: relative;
}